*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.header-title{
    color: #272727;
font-size: 80px;
font-weight: 700;
padding-top: 180px;
}
.header-content{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight:400px;
padding: 22px 0;
padding-right: 57px;
}
.btn{
    
    padding: 20px 43px;
    border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
border: none;
margin-top: 12px;

}
main{

}
/* header content starts here */
.head{
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 100vh;
}
.header-img{
    
}
.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:30px 100px;
    
}
.header-left{
    
}
.header-img{
    height: 96vh;

}
/* banner starts here */
.banner{
    color: #272727;
text-align: center;
font-size: 35px;
font-weight: 700;
padding-top: 50px;


}
.banner-section{
    margin:150px 100px;
}
.banner-c{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
padding-bottom: 50px;



}
.banner-container{
    background: #FFF;
    
}
.banner-container{
    display: flex;
    justify-content: space-around;
}
.banner-img{
    width: 210px;
    height: 300px;
}

.banner-img{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding:0 76px;
    padding-top: 110px;
}
.banner-two{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 55px 76px 50px 76px ;
width: 230px;
height: 300px;

}
.banner-footer{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
text-decoration-line: underline;
}
/* sale starts here */
.sale{
    width:100%;
height: 100vh;
flex-shrink: 0;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

}
.sale-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 200px;
}
.sale-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
padding: 20px;

}
.sale-content{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
padding: 20px;
}
span{
    color: #E55473;;
}
.sale-btn{
    margin-left:250px;
}
.social-section{
    margin: 100px 150px;

}
.sale-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 700;
}
.imgg{
  
  width: 90%;
}
.image-container{
    display: flex;
}
/* details started here */
.details{
    
    padding: 100px;
    width: 79%;
    margin-left: 48px;
    
    
}
.op{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.details-container{
    
    border-radius: 8px;
background: url('../Flower Asset/Rectangle 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
background-position: center;
background-size: 100%;
}
#ema{
    width:500px;
    
height: 64px;

border-radius: 8px;
background-color: #FFF;
text-align: center;
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
margin-bottom: 100px;
border: none;



}
.details-btn{
    margin-left: 10px;
    margin-bottom: 105px;
}
/* footer start here */
.footer-section{
    padding-top: 128px;
    text-align: center;
    background-color:  #111010;
    height: 400px;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
font-size: 16px;
font-weight: 400;

}
.footer{
    color: rgba(255, 255, 255, 0.90);
}
/* order Now */
input{
    
padding: 15px;
margin-bottom: 10px; 
width: 400px;
border-radius: 8px;
background-color: #FFF;
text-align: center;
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 400;
display: block;
border: 1px solid black;

}
.order-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
i{
    color: gold;
}