*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.header-title{
    color: #272727;
font-size: 40px;
font-weight: 700;
padding-bottom: 50px;
}
.header-content{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight:400px;
}
.btn{
    color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #E55473;

padding: 10px 15px;
border: 0;
margin:20px 0;


}
/* header content starts here */
.head{
    background: rgba(229, 84, 115, 0.10);
}
.header-container{
    display: flex;
    justify-content: space-evenly;
    
    padding:30px 100px;
    
    
}
.header-left{
    padding-top: 80px;
}
/* banner starts here */
.banner{
    color: #272727;
text-align: center;
font-size: 35px;
font-weight: 700;
padding-top: 150px;
}
.banner-c{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
padding: 0px 150px;

}
.banner-container{
    background: #FFF;

}